* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.container {
  width: calc(100vw - 10%);
  background: lightgray;
  margin: 0 auto;
  border-radius: 3px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 3vh 5vw 3vh 5vw;
  /* border: 1px solid black; */
}
.logo {
  /* border: 1px solid black; */
  list-style: none;
  height: 100px;
  width: 100px;
  background-color: rgba(255, 68, 0, 0.445);
  /* padding: 10px; */
  border-radius: 50%;
  font-weight: 700;
  color: rgba(165, 42, 42, 0.822);
}
.logo h3 {
  padding: 26px 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.addPizza {
  background-color: rgba(255, 68, 0, 0.445);
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 2px;
  height: 40px;
  /* margin: 100px 30px 0px 0px; */
}
.addPizza:hover {
  background-color: rgba(255, 68, 0, 0.745);
  cursor: pointer;
}
footer {
  color: grey;
  text-align: center;
  padding: 20px 30px;
}
